$colorBlack:#000000;
$colorGray01: #f2f2f2;
$colorGray02: #CCD5DB;
$colorGray03: #e5e5e5;
$colorGray04: #292E30;
$colorWhite:#ffffff;
$colorBlue: #0b299f;

$width375: 375px;
$width768: 768px;
$width1024: 1024px;
$width1440: 1440px;
$width1600: 1600px;

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sticky {
    position: sticky;
    z-index: map-get($z-index, stickyHeader);
}

.squareColor {
    display: inline-block;
    width: 30px;
    height: 14px;
}
