$colorBlack:#000000;
$colorGray01: #f2f2f2;
$colorGray02: #CCD5DB;
$colorGray03: #e5e5e5;
$colorWhite:#ffffff;
$colorBlue: #0b299f;

$width375: 375px;
$width768: 768px;
$width1024: 1024px;
$width1440: 1440px;
$width1600: 1600px;
