$z-index: (
  toaster            : 201,
  panelNav           : 200,
  autocomplete       : 200,
  header             : 100,
  nav                : 100,
  triangle           : 60,
  navigation-rainbow : 50,
  share-type         : 41,
  share              : 40,
  shapeButtons       : 3,
  shapeShade         : 2,
  main               : 2,
  stickyHeader       : 2,
  negatifIndex       : -1,
  positifIndex       : 1
);